

ul {
    margin-left: 0; 
    padding-left: 0; 
}
	

.paper li {

 list-style-type: none; 
 margin:auto;
 
 
}
.paper ul {
 margin-top:5px;
}


.paper{
text-align:center;
width:600px;
margin:auto;
margin-top:40px;
padding-left:20px;
padding-top:20px;
padding-right:20px;
padding-bottom:20px;

}

.paper .formButton{
margin-top:20px;
}

.paper h3{
letter-spacing: 5px;
font-weight: bold;
font-family: "Times New Roman", Georgia, Serif;
font-style:italic;
color:#AB47BC;
}

.ErrorsMessage li{
	list-style-type:disc; 
	text-align:left;
    color:crimson;
	margin-bottom:5px;

}